@import "tailwindcss";

:root {
  --color-background: #1A0272; /* Dark background */
  --color-yellow: #dab006;
  --color-cyan: #14CCFF;
  --color-light: #FFFFFF;
  --color-hover: rgba(20, 204, 255, 0.17);
}

/* Custom theme values */
@theme {
  --font-sans: var(--font-poppins); /* Poppins */
  --font-display: var(--font-braah-one); /* Braah One */
  --font-poor-story: var(--font-poor-story); /* Poor Story */
  --color-yellow: var(--color-yellow);
  --color-cyan: var(--color-cyan);
  --color-background: var(--color-background);
  --color-light: var(--color-light);
  --color-hover: var(--color-hover);

  
}

body.light {
  --color-background: #EBE9E9;
  --color-yellow: #1A0272;
  --color-light: #48474A;
  --color-hover: rgba(26, 2, 114, 0.17);
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}




